<a href="https://colab.research.google.com/github/SyedMuhammadMuhsinKarim/NLP-With-NLTK/blob/main/NLTK_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 04**

In [ ]:
import nltk
from nltk.tokenize import RegexpTokenizer
import pandas as pd

In [ ]:
tokenizer = RegexpTokenizer(r'\w+')

In [ ]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('brown')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

**Part** **01**

In [ ]:
pd.DataFrame(nltk.pos_tag(tokenizer.tokenize("my pet ate my homework")), columns=[['Words', 'POS']])

      Words   POS
0        my  PRP$
1       pet    NN
2       ate    VB
3        my  PRP$
4  homework    NN

In [ ]:
pd.DataFrame(nltk.pos_tag(tokenizer.tokenize("fruit flies like bananas.")), columns=[['Words', 'POS']])

     Words  POS
0    fruit   NN
1    flies  NNS
2     like   IN
3  bananas  NNS

In [ ]:
pd.DataFrame(nltk.pos_tag(tokenizer.tokenize("two roads diverged in a wood, I took the one less traveled by, and that has made all the difference.")), columns=[['Words', 'POS']])

         Words  POS
0          two   CD
1        roads  NNS
2     diverged  VBN
3           in   IN
4            a   DT
5         wood   NN
6            I  PRP
7         took  VBD
8          the   DT
9          one   NN
10        less  JJR
11    traveled  VBN
12          by   IN
13         and   CC
14        that   DT
15         has  VBZ
16        made  VBN
17         all  PDT
18         the   DT
19  difference   NN

**Part 02**

In [ ]:
pd.DataFrame(nltk.pos_tag(tokenizer.tokenize("They refuse to permit us to obtain the refuse permit")), columns=[['Words', 'POS']])

    Words  POS
0    They  PRP
1  refuse  VBP
2      to   TO
3  permit   VB
4      us  PRP
5      to   TO
6  obtain   VB
7     the   DT
8  refuse   NN
9  permit   NN

**Part 03**

In [ ]:
text = nltk.Text(word.lower() for word in nltk.corpus.brown.words())

In [ ]:
text.similar('cat')

boy man time day way job will year road word people captain community
thing sense bottle and other problem failure

In [ ]:
text.similar('small')

good the large great new little long big strong young first old simple
a general other much whole low in

**Part 04**

In [ ]:
chunker = nltk.RegexpParser(r""" Chunk0: {((<NN|CD.?|RB>)<CD.?|VBD.?|VBP.?|VBN.?|NN.?|RB.?|JJ>*)<NN|CD.?>} """) 
result = chunker.parse(nltk.pos_tag(tokenizer.tokenize("a clever fox was jumping over the wall")))
print(result)

(S
  a/DT
  (Chunk0 clever/NN fox/NN)
  was/VBD
  jumping/VBG
  over/IN
  the/DT
  wall/NN)

# **Assignment 05**

In [ ]:
import nltk
import pandas as pd
from nltk.corpus import wordnet as wn

In [ ]:
nltk.download('wordnet')

In [ ]:
ss_cat = wn.synsets('cat')

[Synset('cat.n.01'),
 Synset('guy.n.01'),
 Synset('cat.n.03'),
 Synset('kat.n.01'),
 Synset('cat-o'-nine-tails.n.01'),
 Synset('caterpillar.n.02'),
 Synset('big_cat.n.01'),
 Synset('computerized_tomography.n.01'),
 Synset('cat.v.01'),
 Synset('vomit.v.01')]

In [ ]:
ss_cat_def = [syn.definition() for syn in ss_cat]
ss_cat_def

['feline mammal usually having thick soft fur and no ability to roar: domestic cats; wildcats',
 'an informal term for a youth or man',
 'a spiteful woman gossip',
 'the leaves of the shrub Catha edulis which are chewed like tobacco or used to make tea; has the effect of a euphoric stimulant',
 'a whip with nine knotted cords',
 'a large tracked vehicle that is propelled by two endless metal belts; frequently used for moving earth in construction and farm work',
 'any of several large cats typically able to roar and living in the wild',
 'a method of examining body organs by scanning them with X rays and using a computer to construct a series of cross-sectional scans along a single axis',
 "beat with a cat-o'-nine-tails",
 'eject the contents of the stomach through the mouth']

In [ ]:
# [lem for val in wn.synsets('cat') for lem in val.lemmas()] # return list of lemma
[val for val in wn.synsets('cat')]

[Synset('cat.n.01'),
 Synset('guy.n.01'),
 Synset('cat.n.03'),
 Synset('kat.n.01'),
 Synset('cat-o'-nine-tails.n.01'),
 Synset('caterpillar.n.02'),
 Synset('big_cat.n.01'),
 Synset('computerized_tomography.n.01'),
 Synset('cat.v.01'),
 Synset('vomit.v.01')]

In [ ]:
list_hyp = [value.hypernyms() for value in ss_cat]
list_hyp

[[Synset('feline.n.01')],
 [Synset('man.n.01')],
 [Synset('gossip.n.03'), Synset('woman.n.01')],
 [Synset('stimulant.n.02')],
 [Synset('whip.n.01')],
 [Synset('tracked_vehicle.n.01')],
 [Synset('feline.n.01')],
 [Synset('x-raying.n.01')],
 [Synset('flog.v.01')],
 [Synset('excrete.v.01')]]

**todo**

In [ ]:
ss_wagon = wn.synsets('wagon')
len(ss_wagon)

5

In [ ]:
ss_wagon_hyper = [value.hypernyms() for value in ss_wagon]
[item for items in ss_wagon_hyper for item in items]

[Synset('wheeled_vehicle.n.01'),
 Synset('van.n.05'),
 Synset('wheeled_vehicle.n.01'),
 Synset('car.n.01')]

In [ ]:
ss_wagon_hypo = [value.hyponyms() for value in ss_wagon]
[item for items in ss_wagon_hypo for item in items]

[Synset('bandwagon.n.02'),
 Synset('cart.n.01'),
 Synset('chuck_wagon.n.01'),
 Synset('covered_wagon.n.01'),
 Synset('ice_wagon.n.01'),
 Synset('lorry.n.01'),
 Synset('milk_wagon.n.01'),
 Synset('tramcar.n.01'),
 Synset('wain.n.03'),
 Synset('water_wagon.n.01'),
 Synset('shooting_brake.n.01')]

In [ ]:
def polysemy(word):
  return len(wn.synsets(word))

In [ ]:
polysemy("cat")

10

In [ ]:
polysemy("dog")

8

In [ ]:
def noun_polysemy(word):
  return len(wn.synsets(word, pos='n'))

In [ ]:
polysemy("wagon")

5

#**TF**-**IDF**

In [ ]:
texts  = ["It is going to rain today", "today i am not going outside", "I am going to watch the season premiere"]

In [ ]:
import  pandas as pd

series_token = pd.Series(texts)
series_token.str.split(expand=True).stack().value_counts() # word frequencies

going       3
am          2
to          2
today       2
premiere    1
is          1
watch       1
season      1
i           1
the         1
It          1
not         1
outside     1
rain        1
I           1
dtype: int64

In [ ]:
doc = [series_token[i].split() for i in range(len(texts))]
 
from itertools import groupby
[len(list(group)) for k in doc for key, group in groupby(k)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]